<article>
    <h4>Training includes:</h4>
    <ul>
        <li>Beauty Monster Professional System</li>
        <li>Full set of tips (12 pcs.) </li>
        <li>Hands-On practice on a model </li>
        <li>National & International certificates</li>
        <li>Master's workbook with step-by-step protocols</li>
        <li>Unlimited access to a closed chat with coaches</li>
        <li>Accelerated comprehensive training by a physician </li>
        <li>Classes sizes are limited, to ensure a better learning enviornmnet.</li>
    </ul>
</article>