<section class="content fadeInDown animated-header">
  <fab-banner BannerType="BannerType.Banner03"></fab-banner>
  <header class="mat-elevation-z6">
  </header>
</section>
<section class="page-container fadeIn animated-content">
  <h2>Comprehensive Course on Plasma Fibro-blast skin tightening</h2>
  <p class="no-padding" style="margin-top:2px;padding-top:2px;">The first practical course
    of plasma cosmetology, accredited by industry pioneers and creators of the revolutionary multi-plasma device
    «Beauty Monster Professional System».</p>
  <h4>Comprehensive Training in Plasma-Lift / Fibroblast</h4>
  <p class="no-padding">
    Our program comes with a full starter kit, to get you up and running right away.
    The training includes everything you need for a quick and successful start:</p>
  <ul>
    <li>Certificate of completion and competency</li>
    <li>Multi-plasma device and starter kit with all materials and 1-year warranty service</li>
    <li>Master’s Workbook with step-by-step description of procedures.</li>
    <li>Manufacturer Device Certificate</li>
    <li>Informed Consent Form Template</li>
    <li>Post-care Flyer Template</li>
    <li>Full online support and 365 days of supervision</li>
  </ul>
  <p class="no-padding">Additional benefits after training include:</p>
  <ul>
    <li>Unlimited access to a closed master group</li>
    <li>Unlimited access to a closed chat with coaches</li>
  </ul>
  <h4>Limited Special Price Florida Residents - $2500</h4>
  <p class="no-padding">Training includes:</p>
  <ul>
    <li>Accelerated comprehensive training by a physician
    </li>
    <li>Original plasma device "Beauty Monster Professional System" latest generation (retail price $1000)
    </li>
    <li>Full set of tips (12 pcs.)
    </li>
    <li>Hands-On practice on a model
    </li>
    <li>International certificate
    </li>
    <li>Master's workbook with step-by-step protocols
    </li>
    <li>Unlimited access to a closed chat with coaches </li>
  </ul>
  <p>Space is limited, so reserve your seat today!<br />
    <a mat-flat-button href="javascript:void(0);" class="button-learn-more" (click)="onClick()">
      <span class="span-action">Learn More</span></a></p>
</section>
