<section class="content fadeInDown animated-header">
  <fab-banner BannerType="BannerType.Banner02">
    <div class="text-wrapper">
      <span class="text-3">Get in touch!</span><br />
      <span class="text-1">Space is limited, so reserve your seat today!</span>
    </div>
  </fab-banner>
  <header class="mat-elevation-z6">
  </header>
</section>
<section>
  <article class="details-control fadeIn animated-content">
    <mat-card class="dark-card">
      <h4>Plasma-Lift Academy</h4>
      <div fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" fxLayoutAlign="center"
        style="margin-top:5px;">
        <div fxFlex="45%">
          <img src="assets/map.png" style="border-radius:4px; overflow:hidden;width:100%;margin-top:5px;" /></div>
        <div fxFlex="55%">
          <br class="hide-on-small" />
          <h5>Address</h5>
          350 Lincoln Rd.<br /> Miami Beach, FL 33139<br />
          <a mat-flat-button href="tel:1800-273-9421" class="button-phone">
            <span class="span-action">(800) 273-9421</span></a><br />
          <a mat-flat-button href="mailto:admin@plasma-lift.net" class="button-phone">
            <span class="span-action">admin@plasma-lift.net</span></a>
          <fab-social-links-header></fab-social-links-header><br />
        </div>
      </div>
    </mat-card>
  </article>
  <frm-contact></frm-contact>
  <br /> <br />
  <br /> <br />
</section>