<!-- <section class="content fadeInDown animated-header">
  <fab-banner BannerType="BannerType.Banner02"></fab-banner>
  <header class="mat-elevation-z6">
  </header>
</section> -->
<section class="fadeInDown animated-header">
  <fab-banner BannerType="BannerType.Banner05">
    <div class="text-wrapper">
      <span class="text-row-1 fadeInUp animated-text-1">
        Instant Results <span class="extra-text">That Lasts More Than A Year</span></span>
      <span class="text-row-2 fadeInUp animated-text-2">
        No Side Effects<span class="extra-text">, Procedure Time: 10-30 Min</span></span>
      <span class="text-row-3 fadeInUp animated-text-3">
        Fast Recovery Time<span class="extra-text">: Full Recovery within 7 Days</span>
      </span>
    </div>
  </fab-banner>
  <header class="mat-elevation-z6">
  </header>
</section>
<app-plasma-info></app-plasma-info>
<section class="content card-wrapper fadeIn animated-header">
  <br /> <br />

</section>