<section class="page-container fadeIn animated-content">
  <div>
    <h4>How does plasma cosmetology work?</h4>
    <p class="no-padding">
      The principle of plasma cosmetology is based on the use of the 4th state of the substance – plasma. It uses
      plasma arch that occurs when nitrogen and high-frequency energy meet in the air without directly touching
      the skin, about 1-2mm from the skin. The tissue is treated “sublimate” due to narrowed cold plasma effect.
    </p>
    <p class="no-padding">
      This way we avoid spreading unwanted heat to the surrounding areas and preserve the healthy tissue. The
      essence of the treatment is to create a controlled micro-ablation within the top layer of the skin
      EPIDERMIS.
    </p>
  </div>
  <h4 class="second">Cosmetology Procedures included in training</h4>
  <article fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" fxLayoutAlign="center"
    style="margin-top:25px;">
    <mat-card fxFlex="50%" fxFlex.gt-sm="50%" fxFlex.gt-md="50%" matRipple>
      <img mat-card-image src="assets/info-graphics/glaza.png" />
      <mat-card-header>
        <mat-card-title class="title">Blepharoplasty & Crowfeet Wrinkles Removal</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p class="top-border">
          <span class="span-cost">
            <span class="span-icon">
              <mat-icon>monetization_on</mat-icon>
            </span>
            <span class="span-label">
              Cost <span class="hide-small">of procedure</span>
            </span>
            <span class="span-value"> $400.00-$800.00 USD.</span>
          </span>
          <span class="span-duration">
            <span class="span-icon">
              <mat-icon>watch_later</mat-icon>
            </span>
            <span class="span-label">
              Duration <span class="hide-small">of procedure</span>
            </span>
            <span class="span-value"> 30-40 min</span>
          </span>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="50%" fxFlex.gt-sm="50%" fxFlex.gt-md="50%" matRipple>
      <img mat-card-image src="assets/info-graphics/heya.jpg" />
      <mat-card-header>
        <mat-card-title class="title">Non-surgical Neck Lift</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <span class="span-cost">
            <span class="span-icon">
              <mat-icon>monetization_on</mat-icon>
            </span>
            <span class="span-label">
              Cost <span class="hide-small">of procedure</span>
            </span>
            <span class="span-value"> $250.00-$550.00 USD.</span>
          </span>
          <span class="span-duration">
            <span class="span-icon">
              <mat-icon>watch_later</mat-icon>
            </span>
            <span class="span-label">
              Duration <span class="hide-small">of procedure</span>
            </span>
            <span class="span-value"> 25-35 min</span>
          </span>
        </p>
      </mat-card-content>
    </mat-card>
  </article>
  <article fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" fxLayoutAlign="center"
    style="margin-top:25px;">
    <mat-card fxFlex="50%" fxFlex.gt-sm="50%" fxFlex.gt-md="50%" matRipple>
      <img mat-card-image src="assets/info-graphics/givot.jpg" />
      <mat-card-header>
        <mat-card-title class="title">Neck and Abdomen Skin Tightening</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <span class="span-cost">
            <span class="span-icon">
              <mat-icon>monetization_on</mat-icon>
            </span>
            <span class="span-label">
              Cost <span class="hide-small">of procedure</span>
            </span>
            <span class="span-value"> $300.00-$900.00 USD.</span>
          </span>
          <span class="span-duration">
            <span class="span-icon">
              <mat-icon>watch_later</mat-icon>
            </span>
            <span class="span-label">
              Duration <span class="hide-small">of procedure</span>
            </span>
            <span class="span-value"> 25-55 min</span>
          </span>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="50%" fxFlex.gt-sm="50%" fxFlex.gt-md="50%" matRipple>
      <img mat-card-image src="assets/info-graphics/ushi.png" />
      <mat-card-header>
        <mat-card-title class="title">Wrinkles removal</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <span class="span-cost">
            <span class="span-icon">
              <mat-icon>monetization_on</mat-icon>
            </span>
            <span class="span-label">
              Cost <span class="hide-small">of procedure</span>
            </span>
            <span class="span-value"> $250.00-$350.00 USD.</span>
          </span>
          <span class="span-duration">
            <span class="span-icon">
              <mat-icon>watch_later</mat-icon>
            </span>
            <span class="span-label">
              Duration <span class="hide-small">of procedure</span>
            </span>
            <span class="span-value"> 15-25 min</span>
          </span>
        </p>
      </mat-card-content>
    </mat-card>
  </article>
  <article fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" fxLayoutAlign="center"
    style="margin-top:25px;">
    <mat-card fxFlex="50%" fxFlex.gt-sm="50%" fxFlex.gt-md="50%" matRipple>
      <img mat-card-image src="assets/info-graphics/207.jpg" />
      <mat-card-header>
        <mat-card-title class="title">Removal of Warts, Papilloma, Age Spots and Pigmentation</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <span class="span-cost">
            <span class="span-icon">
              <mat-icon>monetization_on</mat-icon>
            </span>
            <span class="span-label">
              Cost <span class="hide-small">of procedure</span>
            </span>
            <span class="span-value"> $100.00-$300.00 USD.</span>
          </span>
          <span class="span-duration">
            <span class="span-icon">
              <mat-icon>watch_later</mat-icon>
            </span>
            <span class="span-label">
              Duration <span class="hide-small">of procedure</span>
            </span>
            <span class="span-value"> 10-20 min</span>
          </span>
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="50%" fxFlex.gt-sm="50%" fxFlex.gt-md="50%" matRipple>
      <img mat-card-image src="assets/info-graphics/img-20181016-wa0022.jpg" />
      <mat-card-header>
        <mat-card-title class="title">Non-surgical Blepharoplasty</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <span class="span-cost">
            <span class="span-icon">
              <mat-icon>monetization_on</mat-icon>
            </span>
            <span class="span-label">
              Cost <span class="hide-small">of procedure</span>
            </span>
            <span class="span-value"> $500.00-$800.00 USD.</span>
          </span>
          <span class="span-duration">
            <span class="span-icon">
              <mat-icon>watch_later</mat-icon>
            </span>
            <span class="span-label">
              Duration <span class="hide-small">of procedure</span>
            </span>
            <span class="span-value"> 20-30 min</span>
          </span>
        </p>
      </mat-card-content>
    </mat-card>
  </article>
</section>