<section class="content fadeInDown animated-header">
  <fab-banner BannerType="BannerType.Banner01">
    <div class="hero-wrapper">
      <span class="hero-text-1 fadeInUp animated-text">
        COMPREHENSIVE<span class="hide-small">&nbsp;PRACTICAL</span>&nbsp;COURSE&nbsp;ON</span>
      <span class="hero-text-2 fadeInUp animated-text-2">PLASMA FIBROBLAST SKIN TIGHTENING</span>
      <span class="hero-text-3 fadeIn animated-text-3">Become the first plasma-cosmetologist in your city
        with<br /> the best plasma device <i>Beauty Monster Professional System</i></span>
      <span class="hero-button-wrapper fadeInUp animated-text-3">
        <a mat-flat-button href="javascript:void(0);" class="button-learn-more" (click)="onClick()">
          <span class="span-action">Learn More</span></a></span>
    </div>
  </fab-banner>
  <header class="mat-elevation-z6">
  </header>
</section>
<section class="page-container fadeIn animated-content">
  <article>
    <h4>Training includes:</h4>
    <ul>
      <li>Beauty Monster Professional System</li>
      <li>Full set of tips (12 pcs.) </li>
      <li>Hands-On practice on a model </li>
      <li>National & International certificates</li>
      <li>Master's workbook with step-by-step protocols</li>
      <li>Unlimited access to a closed chat with coaches</li>
      <li>Accelerated comprehensive training by a physician </li>
      <li>Classes sizes are limited, to ensure a better learning enviornmnet.</li>
    </ul>
  </article>
  <article fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" fxLayoutAlign="center"
    style="margin-top:45px;">
    <div fxFlex="25%" fxFlex.gt-sm="50%" fxFlex.gt-md="30%">
      <img src="assets/info-graphics/12.jpg" style="width:100%" class="rounded-image" />
    </div>
    <div fxFlex="25%" fxFlex.gt-sm="50%" fxFlex.gt-md="30%">
      <img src="assets/info-graphics/42.jpg" style="width:100%" class="rounded-image" />
    </div>
    <div fxFlex="25%" fxFlex.gt-sm="50%" fxFlex.gt-md="30%">
      <img src="assets/info-graphics/14.jpg" style="width:100%" class="rounded-image" />
    </div>
    <div fxFlex="25%" fxFlex.gt-sm="50%" fxFlex.gt-md="30%">
      <img src="assets/info-graphics/class.jpg" style="width:100%" class="rounded-image" />
    </div>
  </article>
</section>