<section class="content fadeInDown animated-header">
  <fab-banner BannerType="BannerType.Banner01">
    <div class="hero-wrapper">
      <span class="hero-text-1 fadeInUp animated-text"> <span>Exclusive</span> Training&nbsp;Course&nbsp;</span>
      <span class="hero-text-2 fadeInUp animated-text-2">PLASMA FIBROBLAST SKIN TIGHTENING</span>
      <span class="hero-text-3 fadeIn animated-text-3"
        >Become the first plasma-cosmetologist in your city with<br />
        the best plasma device <i>Beauty Monster Professional System</i></span
      >
      <span class="hero-button-wrapper fadeInUp animated-text-3">
        <a mat-flat-button href="javascript:void(0);" class="button-learn-more" (click)="onClick()"> <span class="span-action">Learn More</span></a></span
      >
    </div>
  </fab-banner>
  <header class="mat-elevation-z6"></header>
</section>
<section class="page-container fadeIn animated-content">
  <article>
    <h4>Individual & Group Master Classes</h4>
    <p class="landing-p">
      Attention <i>Estheticians</i>, <i>Cosmetologists</i> and <i>all beauty professionals</i>, Are you ready to make a 6-figure income doing what you love? No previous experience
      needed. Be among the first plasma-cosmetologist skin tightening professionals in your area! <br /><br />
      <mat-divider></mat-divider>
      <br />
      <span class="span-we-offer">We Offer Individual & Group Accelerated Master Classes</span>
      Space is limited, so reserve your seat today!<br /><br />
      To book your Individual Training click the Individual Training button below or contact us directly at <br class="br-600" /><a
        href="mailto:admin@plasma-lift.net?Subject=Individual Training"
        class="basic"
        target="_blank"
        >admin@plasma-lift.net</a
      >.<br />
      <a mat-flat-button href="mailto:admin@plasma-lift.net?Subject=Individual Training" class="button-book-training" taget="_blank">
        <span class="span-action">Individual Training</span></a
      >&nbsp;<br />
      <br class="hide-br" />
      <mat-divider></mat-divider>
      <br />
      <span class="span-we-offer">Miami Master class on April 16-17th</span>
      To reserve your seat for our next group master class click the Group Training button below or contact us directly at
      <a class="basic" href="mailto:admin@plasma-lift.net?Subject=Group Training:Miami April 16-17th" taget="_blank">admin@plasma-lift.net</a>.<br /><a
        mat-flat-button
        href="mailto:admin@plasma-lift.net?Subject=Group Training:Miami April 16-17th"
        taget="_blank"
        class="button-book-group-training"
      >
        <span class="span-action">Group Training</span></a
      >
      <br /><br />
    </p>
  </article>
  <article>
    <h4 class="extend-h4">
      What you'll learn
    </h4>
    <ul>
      <li>Skin Anatomy and Physiology</li>
      <li>What is Plasma</li>
      <li>How does the Plasma-Fibroblast machine work</li>
      <li>Beauty Monster Plasma-Fibroblast machine’s features & functionalities</li>
      <li>Variety of treatments Plasma-Fibroblast offers</li>
      <li>Treatment indications and Contraindications</li>
      <li>Patient prep and major rules of successful procedure</li>
      <li>Each treatment step-by-step protocol and technics</li>
      <li>Treatment Post-care is 50% of success – how to educate your patients</li>
      <li>Possible side effects & how to avoid them</li>
    </ul>
    <p class="landing-p">
      We will teach you the techniques to treat a number of skin problems without any actual cutting of the skin.
    </p>
    <h4>Treatment Techniques include</h4>
    <ul>
      <li>
        Acne treatment
      </li>
      <li>
        Tattoo removal
      </li>
      <li>
        Plasma therapy
      </li>
      <li>
        Stretch mark treatment
      </li>
      <li>
        Plasma skin rejuvenation
      </li>
      <li>
        Neck and jowls tightening
      </li>
      <li>
        Improvement in the appearance of scars, except keloid scars
      </li>
      <li>
        Skin imperfections, including skin tags, sunspots, benign moles, age spots
      </li>
      <li>
        Wrinkles, including wrinkles around the eyes and lines and wrinkles around the mouth
      </li>
      <li>
        Loose and flaccid skin in the abdomen area after pregnancy, liposuction or age-related
      </li>
      <li>
        Blepharoplasty or Eyelid Tightening, including under eyes and excess upper eyelid skin.
      </li>
      <li>
        Loose and flaccid skin in various areas of the body, including inner tight, knees, underarms
      </li>
    </ul>
  </article>
  <!-- <app-dashboard-content-training-includes></app-dashboard-content-training-includes> -->
  <article fxLayout="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" fxLayoutAlign="center" style="margin-top:45px;">
    <div fxFlex="25%" fxFlex.gt-sm="50%" fxFlex.gt-md="30%">
      <img src="assets/info-graphics/12.jpg" style="width:100%" class="rounded-image" />
    </div>
    <div fxFlex="25%" fxFlex.gt-sm="50%" fxFlex.gt-md="30%">
      <img src="assets/info-graphics/42.jpg" style="width:100%" class="rounded-image" />
    </div>
    <div fxFlex="25%" fxFlex.gt-sm="50%" fxFlex.gt-md="30%">
      <img src="assets/info-graphics/14.jpg" style="width:100%" class="rounded-image" />
    </div>
    <div fxFlex="25%" fxFlex.gt-sm="50%" fxFlex.gt-md="30%">
      <img src="assets/info-graphics/class.jpg" style="width:100%" class="rounded-image" />
    </div>
  </article>
</section>
