/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: #00718C;
  // background-color: #00334B;
  // background-color: #EBF5FA;
  background-color: #13202d;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  // -webkit-text-stroke: 0.45px;
  // // or
  // -webkit-text-stroke: 0.45px rgba(0, 0, 0, 0.1);
  // // or
  // text-shadow: #fff 0px 1px 1px;
  text-rendering: optimizeLegibility;
}


@import '~@angular/material/theming';
// Include material core styles.
@include mat-core();

$forground: mat-palette($mat-blue-grey, 800);
$primary: mat-palette($mat-cyan, 500);
$accent: mat-palette($mat-cyan, 200);
$darkcolor: mat-palette($mat-cyan, 800);

$theme: mat-light-theme($primary, $accent, $darkcolor);

@include angular-material-theme($theme);

@mixin angular-material-theme($theme) {
  @include mat-buttons-theme($theme);
}