<section class="page-container fadeIn animated-content">
  <article>
    <h4>Beauty Monster Black Professional</h4>
    <mat-card>
      <mat-card-content fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px"
        fxLayoutAlign="center">
        <article fxFlex="30%">
          <img mat-card-image src="assets/beauty-monster-packaging.jpg" class="fadeIn animated-product" style="max-width:350px;margin:auto;" />
        </article>
        <article fxFlex="70%" fxFlex.gt-sm="100%" fxFlex.gt-md="100%">
          <p class="no-padding">
            We train using the newest generation of plasma devices.
            This is a new generation of plasma devices and the undisputed world leader in the plasma-cosmetology. More
            than
            5,000 procedures have already been carried out. The device "Beauty Monster" has 4-level system of plasma
            exposure
            (depending on the type of skin and treatment sites) and 3 functional tips, allowing a variety of
            procedures. The
            device is made in South Korea. Certified in USA and EU.</p>
          <p class="no-padding">The device uses the high plasma frequency. The tissue is treated “sublimate” due to
            narrowed
            cold plasma effect. This way we avoid spreading unwanted heat to the surrounding areas and preserve the
            healthy
            tissue. Localized plasma impact boosts regeneration processes in the skin, enhances microcirculation and
            stimulates fibroblasts to produce new collagen and elevate elastin level. It does not leave burns or
            bruises</p>
        </article>
      </mat-card-content>
    </mat-card>
    <br /><br />
    <mat-card matRipple style="text-align:center">
      <img mat-card-image src="assets/beauty3.png" style="max-width:350px;margin:auto;" />
    </mat-card>
    <h3>Surgical steel</h3>
    <p class="no-padding">In the original device, tips are made of special surgical steel with maximum conductivity.</p>
  </article>
  <article fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="25px" fxLayoutAlign="center"
    style="margin-top:45px;">
    <mat-card fxFlex="30%" fxFlex.gt-sm="100%" fxFlex.gt-md="100%">
      <img mat-card-image src="assets/info-graphics/img_2629.jpg" />
      <mat-card-header>
        <mat-card-title class="title">Plasma tip</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p matRipple>
          The plasma tip is used for a non-surgical facelift, skin tightening, stretch marks removal, wrinkles removal,
          scar revision, skin tags & sun spots removal and more</p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="30%" fxFlex.gt-sm="100%" fxFlex.gt-md="100%">
      <img mat-card-image src="assets/info-graphics/1-2.jpg" />
      <mat-card-header>
        <mat-card-title class="title">Thermal tip</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p matRipple>
          The thermal tip is used for working with large surfaces, pores reduction, face rejuvenation, lift and
          peeling. Thermal tip generates plasma current, which facilitates deep penetration of active ingredients of
          cosmeceuticals and pharmaceuticals used during the treatment</p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="30%" fxFlex.gt-sm="100%" fxFlex.gt-md="100%">
      <img mat-card-image src="assets/info-graphics/img_2654.jpg" />
      <mat-card-header>
        <mat-card-title class="title">Fractional tip</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p matRipple>
          The fractional tip is used for plasma mesotherapy, needless hyaluronic acid and other meso-cocktails
          infusions,
          rosacea and dehydrated skin treatments. It exfoliates skin and infuses solutions through small invisible
          openings deep into the skin.</p>
      </mat-card-content>
    </mat-card>
  </article>
</section>